# Default ignored files
/shelf/
/workspace.xml
# Android Studio
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild

# Kotlin
*.class
*.jar
*.war
*.ear
*.swp
*.swo
*.tmp
*.bak
*.orig
*.rej
